.about-img.background-graytwo
  .container
    .col-xs-12
      %h3.text-bold.text-white= t('about.header.title')
      %h4.text-green.font-size-2em= t('about.header.msg')
.team
  .container.text-center.text-darkblue
    %p.font-size-2em= t('about.team.title')
    .row
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/tim.png', :class => "img-circle")
          %p.text-bold= t('about.team.ceo.name')
          %p.text-gray= t('about.team.ceo.role')
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/joao.png', :class => "img-circle")
          %p.text-bold= t('about.team.coo.name')
          %p.text-gray= t('about.team.coo.role')
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ilya.png', :class => "img-circle")
          %p.text-bold= t('about.team.cto.name')
          %p.text-gray= t('about.team.cto.role')
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ted.png', :class => "img-circle")
          %p.text-bold= t('about.team.cco.name')
          %p.text-gray= t('about.team.cco.role')
    .row.text-center
      .col-xs-6.col-sm-3
        %p.text-green.text-bold= t('about.team.stats.nums')
        %p.text-gray= t('about.team.stats.students')
      .col-xs-6.col-sm-3
        %p.text-green.text-bold= t('about.team.stats.numm')
        %p.text-gray= t('about.team.stats.mentors')   
      .col-xs-6.col-sm-3
        %p.text-green.text-bold= t('about.team.stats.numh')
        %p.text-gray= t('about.team.stats.hired')
      .col-xs-6.col-sm-3
        %p.text-green.text-bold= t('about.team.stats.numb')
        %p.text-gray= t('about.team.stats.bootcamps')
#timel.background-lightgray
  .container
    .timeline
      %ul#timeline
        %li.work
          %input.radio#work5{:name => 'works', :type => 'radio', :checked => true}
          .relative
            %label.text-bold.text-darkblue{:for => 'work5'}= t('about.timel.five.title')
            %span.text-green.text-bold.date= t('about.timel.five.year')
            %span.text-gray.datetxt= t('about.timel.five.desc')
            %span.circle
          .content
            %p.font-size-2em= t('about.timel.five.msg')
        %li.work
          %input.radio#work4{:name => 'works', :type => 'radio'}
          .relative
            %label{:for => 'work4'}= t('about.timel.four.title')
            %span.text-green.text-bold.date= t('about.timel.four.year')
            %span.text-gray.datetxt= t('about.timel.four.desc')
            %span.circle
          .content
            %p.font-size-2em= t('about.timel.four.msg')
        %li.work
          %input.radio#work3{:name => 'works', :type => 'radio'}
          .relative
            %label{:for => 'work3'}= t('about.timel.three.title')
            %span.text-green.text-bold.date= t('about.timel.three.year')
            %span.text-gray.datetxt= t('about.timel.three.desc')
            %span.circle
          .content
            %p.font-size-2em= t('about.timel.three.msg')
        %li.work
          %input.radio#work2{:name => 'works', :type => 'radio'}
          .relative
            %label{:for => 'work2'}= t('about.timel.two.title')
            %span.text-green.text-bold.date= t('about.timel.two.year')
            %span.text-gray.datetxt= t('about.timel.two.desc')
            %span.circle
          .content
            %p.font-size-2em= t('about.timel.two.msg')
        %li.work
          %input.radio#work1{:name => 'works', :type => 'radio'}
          .relative
            %label{:for => 'work1'}= t('about.timel.one.title')       
            %span.text-green.text-bold.date= t('about.timel.one.year')
            %span.text-gray.datetxt= t('about.timel.one.desc')
            %span.circle
          .content
            %p.font-size-2em= t('about.timel.one.msg')
.ourmentors.background-white
  .container.text-center
    %p.text-gray.text-bold= t('about.ourmentors.title')
    .row
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/adeline.png', :class => "img-circle")
          %p.text-bold Adeline Diaz
          %p.text-gray Founder Rails Girls
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/aaron.png', :class => "img-circle")
          %p.text-bold Aaron Cain
          %p.text-gray CTO at Github
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ilya.png', :class => "img-circle")
          %p.text-bold Luella Reynolds
          %p.text-gray Full-stack Developer
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ted.png', :class => "img-circle")
          %p.text-bold Frederick Jimenez
          %p.text-gray Founder Rails Bootcamp
    .row
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/adeline.png', :class => "img-circle")
          %p.text-bold Adeline Diaz
          %p.text-gray Founder Rails Girls
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/aaron.png', :class => "img-circle")
          %p.text-bold Aaron Cain
          %p.text-gray CTO at Github
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ilya.png', :class => "img-circle")
          %p.text-bold Luella Reynolds
          %p.text-gray Full-stack Developer
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ted.png', :class => "img-circle")
          %p.text-bold Frederick Jimenez
          %p.text-gray Founder Rails Bootcamp   
    .row
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/adeline.png', :class => "img-circle")
          %p.text-bold Adeline Diaz
          %p.text-gray Founder Rails Girls
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/aaron.png', :class => "img-circle")
          %p.text-bold Aaron Cain
          %p.text-gray CTO at Github
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ilya.png', :class => "img-circle")
          %p.text-bold Luella Reynolds
          %p.text-gray Full-stack Developer
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ted.png', :class => "img-circle")
          %p.text-bold Frederick Jimenez
          %p.text-gray Founder Rails Bootcamp   
    .row
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/adeline.png', :class => "img-circle")
          %p.text-bold Adeline Diaz
          %p.text-gray Founder Rails Girls
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/aaron.png', :class => "img-circle")
          %p.text-bold Aaron Cain
          %p.text-gray CTO at Github
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ilya.png', :class => "img-circle")
          %p.text-bold Luella Reynolds
          %p.text-gray Full-stack Developer
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ted.png', :class => "img-circle")
          %p.text-bold Frederick Jimenez
          %p.text-gray Founder Rails Bootcamp             
.teachtechnology.background-lightgray
  .container
    %p.text-center.text-bold.text-darkblue= t('about.teachtechnology.title')
    %p.text-center.text-gray.font-size-2em= t('about.teachtechnology.msg')
    .row
      .col-md-6.col-md-push-6.text-center
        =image_tag('screens/bo.png')
      .col-md-5.col-md-pull-6.col-md-offset-1
        %p BETA
        %p.text-darkblue.text-bold.font-size-2em= t('about.teachtechnology.bo.title')
        %p.text-gray.font-size-2em= t('about.teachtechnology.bo.desc')
        %p.text-gray= t('about.teachtechnology.bo.msg')
    .row
      .col-md-6.text-center
        =image_tag('screens/remoto.png')
      .col-md-5.col-md-offset-1
        %p.text-darkblue.text-bold.font-size-2em= t('about.teachtechnology.remoto.title')
        %p.text-gray.font-size-2em= t('about.teachtechnology.remoto.desc')
        %p.text-gray= t('about.teachtechnology.remoto.msg')  
    .row
      .col-md-6.col-md-push-6.text-center
        =image_tag('screens/nativo.png')    
      .col-md-5.col-md-pull-6.col-md-offset-1
        %p.text-darkblue.text-bold.font-size-2em= t('about.teachtechnology.nativo.title')
        %p.text-gray.font-size-2em= t('about.teachtechnology.nativo.desc')
        %p.text-gray= t('about.teachtechnology.nativo.msg')
    .row
      .col-md-6.text-center
        =image_tag('screens/webuild.png')
      .col-md-5.col-md-offset-1
        %p.text-darkblue.text-bold.font-size-2em= t('about.teachtechnology.webuild.title')
        %p.text-gray= t('about.teachtechnology.webuild.msg')
.backed.background-white
  .container.text-center#logos
    %p.text-bold.font-size-2em.text-darkblue= t('about.backed.title')
    =image_tag('backedlogos.png', :class => "img-responsive")
    %p.text-bold.text-darkblue= t('about.backed.title2')
    %p.font-size-2em.text-gray= t('about.backed.msg')
    %span= link_to t('about.backed.btn'), '#', { :class=> "border-radius-normal button-green" }
.container#logos
  =image_tag('logos2.png', :class => "img-responsive")        