#alumni-img.background-graytwo
  .container
    .col-xs-12
      %h3.text-bold.text-white= t('alumni.header.title')
      %h4.text-green.font-size-2em= t('alumni.header.msg')
#toptech.background-white
  .container.text-center#logos
    %p.text-bold.text-gray= t('alumni.toptech.title')    
    %p.font-size-2em.text-gray= t('alumni.toptech.msg_html')
    %span= link_to t('alumni.toptech.btn'), '#', { :class=> "border-radius-normal button-green" }
    =image_tag('logos/techlogos.png', :class => "img-responsive")
    .row
      .col-md-5.col-md-offset-1
        %p.text-green.border-radius-normal
          %span.vertical-align.text-bold= t('alumni.toptech.button.n1')
          %span.vertical-align.text-left.inline-block= t('alumni.toptech.button.txt1')
      .col-md-5
        %p.text-green.border-radius-normal
          %span.vertical-align.text-bold= t('alumni.toptech.button.n2')
          %span.vertical-align.text-left.inline-block= t('alumni.toptech.button.txt2')
#historys
  .container-fluid
    #alumnone.row.background-lightgray
      .col-md-6.alumn1
      .col-md-6.history1
        =image_tag('tarefa.png')
        %p.text-gray= t('alumni.historys.one.msg_html')
        %p.text-darkblue.text-bold= t('alumni.historys.one.by')
    #alumntwo.row.background-lightblue
      .col-md-6.history1
        =image_tag('comillas.png')
        %p.text-gray= t('alumni.historys.two.msg')
        %p.text-darkblue.text-bold= t('alumni.historys.two.by')
      .col-md-6.vid
        .video2
    #alumnthree.row.background-green
      .col-md-6.alumn2
      .col-md-6.history1
        =image_tag('comillas-d.png')
        %p.text-white= t('alumni.historys.three.msg')
        %p.text-white.text-bold= t('alumni.historys.three.by')
    #alumnfour.row.background-lightgray
      .col-md-6.alumn3
      .col-md-6.history1
        =image_tag('tarefa.png')
        %p.text-gray= t('alumni.historys.four.msg_html')
        %p.text-darkblue.text-bold= t('alumni.historys.four.by')
    #alumnfive.row.background-green    
      .col-md-6.history1
        =image_tag('comillas-d.png')
        %p.text-white= t('alumni.historys.five.msg')
        %p.text-white.text-bold= t('alumni.historys.five.by')    
      .col-md-6.alumn4          
    #alumnsix.row.background-lightblue
      .col-md-6.history1
        =image_tag('comillas.png')
        %p.text-gray= t('alumni.historys.six.msg')
        %p.text-darkblue.text-bold= t('alumni.historys.six.by')
      .col-md-6.vid
        .video2
  .container#logos
    =image_tag('logos/logos2.png', :class => "img-responsive")