#header-img.home-img.background-graytwo
  .container
    .row
      .col-xs-12.col-md-7
        %h3.text-white.text-bold= t('home.header.title')
        %h4.text-green= t('home.header.msg')
        .col-xs-12.no-padding
          %span= link_to t('home.header.btn-left'), '#', { :class=> "border-radius-normal text-bold button-green" }
          %span= link_to t('home.header.btn-right'), '#', { :class=> "border-radius-normal text-bold button-green" }
      .col-xs-12.col-md-5
        .header-video.border-radius-normal.hidden-xs.hidden-sm.background-graytwo
        .whatsboot.visible-sm.visible-xs.text-white.text-center
          %p= link_to t('home.header.whats'), '#', { :class => "link-white" }
    .row.text-center.text-white.hidden-xs.hidden-sm
      .col-md-3.col-md-offset-2
        =image_tag('left.png', :class => "inline-block")
        %p.text-bold.inline-block
          =t('home.header.achievements.one')
          %br=t('home.header.achievements.startup')
        =image_tag('right.png', :class => "inline-block")
        %p=t('home.header.achievements.oneby')
      .col-md-3
        =image_tag('left.png', :class => "inline-block")
        %p.text-bold.inline-block
          =t('home.header.achievements.two')
          %br=t('home.header.achievements.startup')
        =image_tag('right.png', :class => "inline-block")  
        %p=t('home.header.achievements.twoby')
      .col-md-3
        =image_tag('left.png', :class => "inline-block")
        %p.text-bold.inline-block 
          =t('home.header.achievements.three')
          %br=t('home.header.achievements.startup')
        =image_tag('right.png', :class => "inline-block")
        %p=t('home.header.achievements.threeby')
#news.background-lightgray
  .container
    .row
      .col-sm-9
        =image_tag('html5.png', :class => 'inline-block html5')
        %p.inline-block.vertical-align
          %span.vertical-align.text-gray.text-bold.font-size-2em Course of HTML5 / CSS3
          %span.text-white 1 month
          %span.display-block
            =image_tag('calendar.png', :class => 'inline-block calendar')
            %span.text-gray.font-size-2em.vertical-align  30 ago - 27 nov
      .col-sm-3
        %span= link_to 'Learn More', '#', { :class=> "border-radius-normal text-bold button-red" }
#bootcamp-pros
  .container
    .row
      .col-sm-7
        %h4.text-bold.text-darkblue= t('home.content.bootcamp-pros.tlt1')
        %p.text-gray.font-size-2em= t('home.content.bootcamp-pros.msg1')
      .col-sm-5.text-center
        %p.text-green.border-radius-normal
          %span.vertical-align.text-bold= t('home.content.bootcamp-pros.button.n1')
          %span.vertical-align.text-left.inline-block= t('home.content.bootcamp-pros.button.txt1')
        %p.text-green.border-radius-normal
          %span.vertical-align.text-bold= t('home.content.bootcamp-pros.button.n2')
          %span.vertical-align.text-left.inline-block= t('home.content.bootcamp-pros.button.txt2')
    =image_tag('logos/logos.png', :class => "img-responsive")
#bootcamp-list.background-lightblue.text-center
  .container.text-gray
    %h4.text-bold.text-darkblue= t('home.content.bootcamp-list.type1')
    .row
      .col-md-6
        .border-radius-normal.background-white
          %p.text-bold.font-size-2em= t('home.content.bootcamp-list.choose.full.tlt')
          %p= t('home.content.bootcamp-list.choose.full.txt')
          .locations
            .co.inline-block
              =image_tag('locations/colombia-flag.png', :class => "inline-block")
              %span.vertical-align= t('home.content.bootcamp-list.co')
            .br.inline-block
              =image_tag('locations/brazil-flag.png', :class => "inline-block")
              %span.vertical-align= t('home.content.bootcamp-list.br')
            .mx.inline-block
              =image_tag('locations/mexico-flag.png', :class => "inline-block")
              %span.vertical-align= t('home.content.bootcamp-list.mx')
          %span= link_to t('home.content.bootcamp-list.choose.full.btn'), '#', { :class=> "text-bold border-radius-normal button-red" }
      .col-md-6
        .border-radius-normal.background-white
          %p.text-bold.font-size-2em= t('home.content.bootcamp-list.choose.part.tlt')
          %p= t('home.content.bootcamp-list.choose.part.txt')
          .locations
            .co.inline-block
              =image_tag('locations/colombia-flag.png', :class => "inline-block")
              %span.vertical-align= t('home.content.bootcamp-list.co')
            .br.inline-block
              =image_tag('locations/brazil-flag.png', :class => "inline-block")
              %span.vertical-align= t('home.content.bootcamp-list.br')
            .mx.inline-block
              =image_tag('locations/mexico-flag.png', :class => "inline-block")
              %span.vertical-align= t('home.content.bootcamp-list.mx')
          %span= link_to t('home.content.bootcamp-list.choose.part.btn'), '#', { :class=> "text-bold border-radius-normal button-red" }
    .row       
      .col-md-6
        .border-radius-normal.background-white
          %p.text-bold.font-size-2em= t('home.content.bootcamp-list.choose.blended.tlt')
          %p= t('home.content.bootcamp-list.choose.blended.txt')
          .locations
            .co.inline-block
              =image_tag('locations/colombia-flag.png', :class => "inline-block")
              %span.vertical-align= t('home.content.bootcamp-list.co')
            .mx.inline-block
              =image_tag('locations/mexico-flag.png', :class => "inline-block")
              %span.vertical-align= t('home.content.bootcamp-list.mx')
          %span= link_to t('home.content.bootcamp-list.choose.blended.btn'), '#', { :class=> "text-bold border-radius-normal button-red" }
      .col-md-6
        .border-radius-normal.background-white
          %p.text-bold.font-size-2em= t('home.content.bootcamp-list.choose.online.tlt')
          %p= t('home.content.bootcamp-list.choose.online.txt')
          .locations
            .co.inline-block
              %span &nbsp;
              %br
          %span= link_to t('home.content.bootcamp-list.choose.online.btn'), '#', { :class=> "text-bold border-radius-normal button-red" }
    %h4.text-bold.text-darkblue= t('home.content.bootcamp-list.type2')
    .custom-boot
      .border-radius-normal.background-white.bootcamp-box-green2
        .row
          .col-sm-6.text-left
            %p.text-darkblue.text-bold= t('home.content.bootcamp-list.create.custom.tlt')
            %p.text-gray= t('home.content.bootcamp-list.create.custom.txt')
          .col-sm-3.text-right.float-right
            %span= link_to t('home.content.bootcamp-list.create.custom.btn'), '#', { :class=> "text-bold border-radius-normal" }
#partner.background-lightgray
  .container
    .row
      .col-xs-12.col-sm-3.col-sm-offset-1
        =image_tag('tim.png', :class => "img-responsive hidden-xs")
      .col-xs-12.col-sm-7
        =image_tag('comillas.png')
        %p.text-gray.font-size-2em= t('home.content.partners.partner-msg')
        %span.text-bold.text-darkblue.text-bold= t('home.content.partners.partner') 
        %span.text-darkblue= t('home.content.partners.partner-desc')
#mentors
  .container-fluid
    .row.text-center
      %h4.text-bold.text-darkblue= t('home.content.mentors.title')
      .col-sm-6.col-sm-offset-3
        %p.text-gray.font-size-2em= t('home.content.mentors.msg')
  .container.text-center
    .row
      .col-sm-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/tim.png', :class => "img-circle")
          %p.text-darkblue.text-bold= t('home.content.mentors.someone.one.name')
          %p.text-gray= t('home.content.mentors.someone.one.role')
      .col-sm-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/joao.png', :class => "img-circle")
          %p.text-darkblue.text-bold= t('home.content.mentors.someone.two.name')
          %p.text-gray= t('home.content.mentors.someone.two.role')
      .col-sm-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ilya.png', :class => "img-circle")
          %p.text-darkblue.text-bold= t('home.content.mentors.someone.three.name')
          %p.text-gray= t('home.content.mentors.someone.three.role')
      .col-sm-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ted.png', :class => "img-circle")
          %p.text-darkblue.text-bold= t('home.content.mentors.someone.four.name')
          %p.text-gray= t('home.content.mentors.someone.four.role')        
#benefits.background-gray.text-white.text-center
  .container
    %h4.text-bold= t('home.content.benefits.tlt')
    .col-sm-8.col-sm-offset-2
      %p.font-size-2em= t('home.content.benefits.txt')
      %span= link_to t('home.content.benefits.btn'), '#', { :class=> "button-white text-bold border-radius-normal" }
#testimony.background-lightgray
  .container
    .row
      .col-xs-12.col-md-4.col-md-offset-1
        =image_tag('comillas-b.png')
        %p.text-gray.font-size-2em= t('home.content.testimony.msg')
        =image_tag('yc.png')
        =image_tag('yctext.png')
        %p= link_to t('home.content.testimony.button'), '#', { :class=> "border-radius-normal text-bold button-green text-bold" }
      .col-md-2.hidden-xs.hidden-sm
        %p.line2
      .col-xs-12.col-md-4
        .video2.background-graytwo
#locations.text-center
  .container
    %h4.text-bold.text-darkblue= t('home.content.locations.title')
    %p.text-gray.font-size-2em= t('home.content.locations.msg')
    .row
      .col-sm-6.no-padding
        .col-xs-10.col-xs-offset-1
          .item
            =image_tag('locations/medellin.png', :class => "img-responsive")
            .city-datos
              =image_tag('locations/colombia-flag.png', :class => "inline-block city-flag")
              %span.city-name.text-white= t('home.content.locations.city.one')
        .col-xs-5.col-xs-offset-1
          .item
            =image_tag('locations/riode.png', :class => "img-responsive")
            .city-datos
              =image_tag('locations/brazil-flag.png', :class => "inline-block city-flag2")
              %span.city-name2.text-white= t('home.content.locations.city.two') 
        .col-xs-5
          .item
            =image_tag('locations/mexicodf.png', :class => "img-responsive")
            .city-datos
              =image_tag('locations/mexico-flag.png', :class => "inline-block city-flag2")
              %span.city-name2.text-white= t('home.content.locations.city.three') 
      .col-sm-6.no-padding   
        .col-xs-5.col-xs-offset-1
          .item
            =image_tag('locations/rio.png', :class => "img-responsive")
            .city-datos
              =image_tag('locations/brazil-flag.png', :class => "inline-block city-flag2")
              %span.city-name2.text-white= t('home.content.locations.city.four') 
        .col-xs-5
          .item
            =image_tag('locations/guadalajara.png', :class => "img-responsive")
            .city-datos
              =image_tag('locations/mexico-flag.png', :class => "inline-block city-flag2")
              %span.city-name2.text-white= t('home.content.locations.city.five')
        .col-xs-10.col-xs-offset-1
          .item
            =image_tag('locations/bogota.png', :class => "img-responsive")
            .city-datos
              =image_tag('locations/colombia-flag.png', :class => "inline-block city-flag")
              %span.city-name.text-white= t('home.content.locations.city.six')               
    %p.text-green.border-radius-normal
      %span.float-left.text-left.text-bold= t('home.content.locations.invite')
      %span.display-block.text-right= t('home.content.locations.mail')
#masschange.background-lightblue.text-gray.text-center
  .container
    =image_tag('medall.png', :class => 'inline-block vertical-align')
    %p{:class => 'inline-block vertical-align'}
      %span.vertical-align= t('home.content.achievements.text')
      %span.vertical-align.text-bold= t('home.content.achievements.text2')
    =image_tag('mc.png', :class => 'inline-block vertical-align')
.container#logos
  =image_tag('logos/logos2.png', :class => "img-responsive")