.header-b
  .header-img
    .container
      .row
        .col-md-6.col-sm-12.header-padding-bottom
          %h2.header-title= t('home.header.title')
          %h3.header-sub= t('home.header.msg')
          .col-sm-12
            %span= link_to t('home.header.btn-left'), '#', { :class=> "boton-green" }
            %span= link_to t('home.header.btn-right'), '#', { :class=> "boton-green" }
        .col-md-6.col-sm-12.hidden-xs
          .header-video
.header-msj
  .container
    .col-md-1
    .col-md-10.text-center
      =image_tag('pt1.png', :class => "botom-img-msj")
      %p.header-msj-t= t('home.bar.msg1')
      %b= link_to t('home.bar.msg2'), '#', { :class=> "header-msj-t" }
      %p.header-msj-t= t('home.bar.msg3')
      =image_tag('pt2.png', :class => "botom-img-msj")
    .col-md-1
.header-syllabus
  .container.syllabus
    =form_tag(create_email_student_path, method: :post, id: "emails-form-students") do
      .col-md-1
      .col-md-4
        %p.syllabus-msj= t('home.syllabus.input1')
        =select_tag 'desc', options_from_collection_for_select(@courses, 'name', 'name'), :style => "font-size: 2em; padding: 2em; width: 300px;"
      .col-md-4
        %p.syllabus-msj= t('home.styllabus.input2')
        =email_field_tag "email",nil, :type => "email", :placeholder => "you@email.com", :style => "font-size: 1.5em; border-radius: 6px;border: 1px; padding: 0.5em; width: 350px;"
        =hidden_field_tag "ip", request.remote_ip
      .col-md-3
        =submit_tag I18n.t('home.syllabus.button'), :class => "clear-btn, boton-red"
.content-home
  .container
    .col-md-6
      %h4.cont-t= t('home.content.bootcamp-pros.tlt1')
      %p.cont-te.low-padding-top= t('home.content.bootcamp-pros.msg1')
    .col-md-6.btns-t
      %p.btn-tb
        %span.btn-tb-t= t('home.content.bootcamp-pros.button.n1')
        %span.btn-tb-m.width-60= t('home.content.bootcamp-pros.button.txt1')
      %p.btn-tb
        %span.btn-tb-t= t('home.content.bootcamp-pros.button.n2')
        %span.btn-tb-m.width-60= t('home.content.bootcamp-pros.button.txt2')
  .container
    .row.logos
      .col-md-2
      .col-md-8.col-xs-12
        =image_tag('logos.png', :class => "img-responsive")
      .col-md-2
  .container
    .col-md-3
    .col-md-6
      %h4.cont-t.cont-t2.text-center= t('home.content.bootcamp-pros.tlt2')
      %p.cont-te.low-padding-top.cont-te2.text-center= t('home.content.bootcamp-pros.msg2')
    .col-md-3
.bootcamps
  .container.text-center
    .row
      .col-md-1
      .col-md-6
        %p.boot-title= t('home.content.bootcamp-list.on-site')
        .row
          .col-md-6
            .bootcamp-box.bootcamp-box-red
              %p.bootc-title= t('home.content.bootcamp-list.ror')
              %p.bootc-cont= t('home.content.bootcamp-list.ror-txt')
              %span= link_to t('home.content.bootcamp-list.learnm'), '#', { :class=> "boot-boton" }
          .col-md-6
            .bootcamp-box.bootcamp-box-yellow
              %p.bootc-title= t('home.content.bootcamp-list.js')
              %p.bootc-cont= t('home.content.bootcamp-list.js-txt')
              %span= link_to t('home.content.bootcamp-list.learnm'), '#', { :class=> "boot-boton" }     
        .row
          .col-md-6
            .bootcamp-box.bootcamp-box-green
              %p.bootc-title= t('home.content.bootcamp-list.android')
              %p.bootc-cont= t('home.content.bootcamp-list.android-txt')
              %span= link_to t('home.content.bootcamp-list.learnm'), '#', { :class=> "boot-boton" }
          .col-md-6
            .bootcamp-box.bootcamp-box-purple
              %p.bootc-title= t('home.content.bootcamp-list.ui')
              %p.bootc-cont= t('home.content.bootcamp-list.ui-txt')
              %span= link_to t('home.content.bootcamp-list.learnm'), '#', { :class=> "boot-boton" }
        %span= link_to t('home.content.bootcamp-list.allcourses'), '#', { :class=> "boot-boton-t" }   
      .col-md-1
        .line-boots.hidden-xs
      .col-md-3
        %p.boot-title= t('home.content.bootcamp-list.online')
        .row
          .col-md-12
            .bootcamp-box.bootcamp-box-yellow
              %p.bootc-title= t('home.content.bootcamp-list.js')
              %p.bootc-cont= t('home.content.bootcamp-list.js-txt')
              %span= link_to t('home.content.bootcamp-list.learnm'), '#', { :class=> "boot-boton" }  
        .row
          .col-md-12
            .bootcamp-box.bootcamp-box-red
              %p.bootc-title= t('home.content.bootcamp-list.ror')
              %p.bootc-cont= t('home.content.bootcamp-list.ror-txt')
              %span= link_to t('home.content.bootcamp-list.learnm'), '#', { :class=> "boot-boton" }               
        %span= link_to t('home.content.bootcamp-list.explorecourses'), '#', { :class=> "boot-boton-t" }  
      .col-md-1
  .container
    .row.margin-top-5
      .col-md-1
      .col-md-10
        %p.boot-title= t('home.content.bootcamp-list.lokingflex')
        .bootcamp-box-l.bootcamp-box-green2
          .row
            .col-md-6
              %p.bootc-title= t('home.content.bootcamp-list.custom')
              %p.bootc-cont= t('home.content.bootcamp-list.custom-txt')
            .col-md-2
            .col-md-4
              %span= link_to t('home.content.bootcamp-list.exploreb'), '#', { :class=> "boot-boton help-botton" }
      .col-md-1
.tim-container
  .container
    .row.padding-tim
      .col-md-2
      .col-md-8
        .row
          .col-md-3.tim-image 
            =image_tag('tim.png', :class => "img-responsive")
          .col-md-9
            =image_tag('comillas.png', :class => "txt-storie")
            %p.cont-te= t('home.content.partners.partner-msg')
            %span.bold.tm-text= t('home.content.partners.partner-desc')
            %span.tm-text2= t('home.content.partners.partner')
      .col-md-2
.container
  .row
    .col-md-3
    .col-md-6
      %h4.cont-t.text-center.special-padding-top= t('home.content.mentors.title')
      %p.cont-te.text-center.margin-low-bottom= t('home.content.mentors.msg')
    .col-md-3
.row
  .col-md-6.mentor-img1
  .col-md-6.mentor-img2
  .col-md-6.mentor-img3
  .col-md-6.mentor-img4
.header-msj
  .container
    .col-md-1
    .col-md-10.text-center
      =image_tag('pt1.png', :class => "botom-img-msj")
      %span= link_to t('home.content.mentors.bar.msg'), '#', { :class=> "header-msj-t" }
      =image_tag('pt2.png', :class => "botom-img-msj")
    .col-md-1
.header-syllabus
  .container
    .row.margin-low-top.margin-low-bottom
      .col-md-1
      .col-md-4
        =image_tag('comillas.png', :class => "txt-storie")
        %p.cont-te= t('home.content.testimony.msg')
        =image_tag('yc.png')
        =image_tag('yctext.png', :class => "txt-storie")
        %span= link_to t('home.content.testimony.button'), '#', { :class=> "boton-green" }
      .col-md-2
        %p.line2.hidden-xs
      .col-md-4
        .video-cont
      .col-md-1
.container
  %h4.cont-t.text-center= t('home.content.locations.title')
  %p.cont-te.text-center= t('home.content.locations.msg')
  .col-md-6.low-padding-left.margin-low-top
    .item
      =image_tag('ciudades/bogota.png', :class => "img-responsive")
    .item
      =image_tag('ciudades/rio2.png', :class => "img-responsive")
    .item
      =image_tag('ciudades/mexico.png', :class => "img-responsive")
  .col-md-6.margin-low-top
    .item
      =image_tag('ciudades/rio.png', :class => "img-responsive")
    .item
      =image_tag('ciudades/guadalajara.png', :class => "img-responsive")
    .item
      =image_tag('ciudades/medellin.png', :class => "img-responsive")
.container
  %p.btn-tb
    %span.btn-tb-m.bold= t('home.content.locations.invite')
    %span.btn-tb-m.float-right.margin-right-low= t('home.content.locations.mail')
%br
%br
.content-wdb
  %p.text-center.cont-tit= t('home.content.bootcamps.title')
  %p.text-center.cont-sub= t('home.content.bootcamps.msg')
  .container
    .col-md-1
    .col-md-4.box-cont
      %p.text-center.bold.txt-c= t('home.content.bootcamps.title-online')
      %p.text-center.txt-co= t('home.content.bootcamps.dur-online')
      %ul.margin-low
        %li.txt-co= t('home.content.bootcamps.cost-online')
        %li.txt-co= t('home.content.bootcamps.pre-online')
        %li.txt-co= t('home.content.bootcamps.class-online')
      %span= link_to t('home.content.bootcamps.button'), '#', { :class=> "boton-green center-btn" } 
    .col-md-2.margin-low-top
      %p.line.hidden-xs
    .col-md-4.box-cont
      %p.text-center.bold.txt-c= t('home.content.bootcamps.title-onsite')
      %p.text-center.txt-co= t('home.content.bootcamps.dur-onsite')
      %ul.margin-low
        %li.txt-co= t('home.content.bootcamps.cost-onsite')
        %li.txt-co= t('home.content.bootcamps.pre-onsite')
        %li.txt-co= t('home.content.bootcamps.class-onsite')
      %span= link_to t('home.content.bootcamps.button'), '#', { :class=> "boton-green center-btn" }
    .col-md-1
.mchange
  .container
    .row
      .col-md-1
      .col-md-2
        =image_tag('medall.png', :class => "img-padding")
      .col-md-6
        .mct
          %span.mctext= t('home.content.achievements.text')
          %b.mctext= t('home.content.achievements.text2')
      .col-md-2
        =image_tag('mc.png', :class => "img-padding2")
      .col-md-1
.container#footer-web
  .row.logos2
    .col-md-2
    .col-md-8.col-xs-12
      =image_tag('logos2.png', :class => "img-responsive")
    .col-md-2