= form_for @newsletter do |f|
  - if @newsletter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this newsletter from being saved:"
      %ul
        - @newsletter.errors.full_messages.each do |msg|
          %li= msg
  .field
    %p Title:
    = f.text_field :title, :style => "border-radius: 6px;border: 1px solid #dedede; padding: 1em; color: #8e8e8e;width: 90%;"
  .field
    %p To:
    = f.select :type_new, '<option value="All">All</option>'.html_safe + options_from_collection_for_select(@courses, 'name', 'name'), prompt: "Newsletter", :style => "font-size: 2em; padding: 2em; width: 300px;"
    %p Language:
  .field
    = f.select :language, raw('<option value="es">Español</option>,<option value="en">English</option>,<option value="br">Portuguese</option>'), :style => "font-size: 2em; padding: 2em; width: 300px;"
  .field
    %p Newsletter:
    = f.text_area :body, id: "wysiwyg"
    %script
      $('#wysiwyg').froalaEditor()
  .actions
    = f.submit 'Save', :class => "boton-green-d"
    = link_to 'Back', newsletters_path, :class => "boton-red-d"
