%footer.background-gray.text-white
  .container
    .row
      .col-xs-12.col-sm-7
        %p.text-bold.font-size-28px= t('footer.newsletter.title')
        =form_tag(create_email_path, method: :post, id: "emails-form") do
          =email_field_tag "email",nil, :type => "email", :placeholder => "you@email.com", :class => "email-newsletter border-radius-normal text-white", :required => true
          =hidden_field_tag "ip", request.remote_ip
          =submit_tag I18n.t('footer.newsletter.button'), :class => "border-radius-normal button-green"
        %p.rights.font-size-14px
          %span= t('footer.newsletter.conditions')
          %span= link_to t('footer.newsletter.policy'), terms_path, { :class=> "link-white font-size-14px" }
          %span= t('footer.newsletter.and')
          %span= link_to t('footer.newsletter.terms'), terms_path, { :class=> "link-white font-size-14px" }
        .social-icons
          = link_to image_tag( 'redes/fb.png', :class => "" ), 'https://www.facebook.com/worldtechmakers/', :target => "_blank"
          = link_to image_tag( 'redes/tw.png', :class => "" ), 'https://twitter.com/worldtechmaker', :target => "_blank"
          = link_to image_tag( 'redes/yt.png', :class => "" ), 'https://www.youtube.com/channel/UCgB6zwXyznAoZWdXMPgin9w', :target => "_blank"
          = link_to image_tag( 'redes/in.png', :class => "" ), 'https://www.linkedin.com/company/world-tech-makers', :target => "_blank"
      .col-xs-12.col-sm-5
        .row
          .col-xs-6
            %p.text-bold.font-size-28px= t('footer.links.bootcamps')
            .links
              %p= link_to t('footer.links.left1'), '#', { :class=> "link-white" }
              %p= link_to t('footer.links.left2'), '#', { :class=> "link-white" }
              %p= link_to t('footer.links.left3'), '#', { :class=> "link-white" }
              %p= link_to t('footer.links.left4'), '#', { :class=> "link-white" }
              %p= link_to t('footer.links.left5'), '#', { :class=> "link-white" }
          .col-xs-6
            %p.text-bold.font-size-28px= t('footer.links.wtm')
            .links
              %p= link_to t('footer.links.about'), about_path, { :class=> "link-white" }
              %p= link_to t('footer.links.companies'), '#', { :class=> "link-white" }
              %p= link_to t('footer.links.financing'), '#', { :class=> "link-white" }
              %p= link_to t('footer.links.faq'), '#', { :class=> "link-white" }
              %p= link_to t('footer.links.blog'), '#', { :class=> "link-white" }
              %p= link_to t('footer.links.process'), '#', { :class=> "link-white" }
    %p.text-bold.text-left World Tech Makers Products              
    .row.text-center
      .col-xs-6.col-sm-3
        = link_to image_tag( 'f_bo.png'), '#', :target => "_blank"
      .col-xs-6.col-sm-3
        = link_to image_tag( 'f_nd.png'), '#', :target => "_blank"
      .col-xs-6.col-sm-3
        = link_to image_tag( 'f_r.png'), '#', :target => "_blank"
      .col-xs-6.col-sm-3
        = link_to image_tag( 'f_wb.png'), '#', :target => "_blank"
.footer-copy.background-darkgray
  .container.font-size-14px.text-white
    %span.float-left= t('footer.copyright.rights')
    %p.float-right
      %span= t('footer.copyright.made')
      %span= image_tag('corazon.svg')
      %span= t('footer.copyright.LA')