%nav.first-navbar.navbar.navbar-default.navbar-fixed-top.nav-down#nav
  .container
    .navbar-header
      %button.display-none.btn-cel.navbar-toggle.collapsed.navbar-right{:type => "button", :data => {:toggle => 'collapse', :target => '#navegacion-wtm'}}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %ul.nav.navbar-nav.navbar-toggle.collapsed
        %li
          %p= link_to t('menu.apply'), '#', { :class=> "active text-bold" }
      %ul.nav.navbar-nav.navbar-toggle.collapsed.hidden-md.hidden-lg.hidden-special
        %li
          %p= link_to t('menu.on-site'), '#', { :class=> "menul" }
      %ul.nav.navbar-nav.navbar-toggle.collapsed.hidden-md.hidden-lg.hidden-special
        %li
          %p= link_to t('menu.online'), '#', { :class=> "menul" }
      %ul.nav.navbar-nav.navbar-toggle.collapsed
      .navbar-left.logo#logo
    .collapse.navbar-collapse#navegacion-wtm
      %ul.nav.navbar-nav.navbar-right
        %li.hidden-xs
          %div#menu-language.menu{:class => locale, :onMouseover => "None()"}
            %span{:class => "text-lan"} #{locale}&nbsp;&nbsp;&nbsp;&nbsp;
            %span{:class => "glyph-lan glyphicon glyphicon-triangle-bottom"}  
            .space
            %ul.dropdown-flags              
              %li#flag-en.menu.en
                = link_to 'EN', locale: "en"
                %span.ltflag= link_to 'EN', locale: "en"
              %li#flag-es.menu.es
                = link_to 'ES', locale: "es"
                %span.ltflag= link_to 'ES', locale: "es"
              %li#flag-br.menu.br
                = link_to 'BR', locale: "br"
                %span.ltflag= link_to 'BR', locale: "br"
        %li.visible-xs-block
          %ul.ul-la
            %li.menu-l.en= link_to '#', locale: "en"
            %li.menu-l.es= link_to '#', locale: "es"
            %li.menu-l.pt= link_to '#', locale: "pt"               
        %li.hidden-xs.hidden-special2.visible
          %p= link_to t('menu.online'), '#', { :class=> "menul" }
        %li.hidden-xs.hidden-special2.visible
          %p= link_to t('menu.on-site'), '#', { :class=> "menul" }
        %li
          %p= link_to t('menu.blog'), '#', { :class=> "menul" }
        %li.dropdown{:role => 'whydifferent'}
          = link_to t('menu.why'), '#', { :class=> "menul dropdown-toggle", 'data-toggle' => 'dropdown', :role => 'button', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' }
          %ul.dropdown-menu
            %li=link_to link_to t('menu.stories'), alumni_path
            %li.divider{:role => 'separator'}
            %li=link_to link_to t('menu.benefits'), '#' 
        %li
          %p= link_to t('menu.companies'), '#', { :class=> "menul" }
        %li.hidden-xs
          %p= link_to t('menu.apply'), '#', { :class=> "active text-bold" }